<!-- templates/config.html -->
{% extends 'layout.html' %}

{% block content %}
    <div class="container mt-4">
        <h2>Configuration Page</h2>
        <form class="my-form" onsubmit="saveUserConfig(); return false;">
            <div class="form-group">
                <label for="configId">Configuration Id:<sup style="color: red;">*</sup> </label>
                <input type="text" class="form-control" id="configId" placeholder="Give some unique identifier to this configuration" required>
            </div>

            <div class="form-group">
                <label for="url">URL:<sup style="color: red;">*</sup></label>
                <input type="text" class="form-control" id="url" required>
            </div>

            <div class="form-group">
                <label for="apiKey">API Key:<sup style="color: red;">*</sup></label>
                <input type="text" class="form-control" id="apiKey" required>
            </div>

            <div class="form-group">
                <label for="secretKey">Secret Key:<sup style="color: red;">*</sup></label>
                <input type="password" class="form-control" id="secretKey" required>
            </div>

            <div class="form-group">
                <label for="userKey">User Key:<sup style="color: red;">*</sup></label>
                <input type="text" class="form-control" id="userKey" required>
            </div>

            <button type="submit" id="userConfigSubmitButton" class="btn btn-primary">Save Configuration</button>
        </form>
        <div id="responseMessage" style="display: none;"></div>
    </div>

    <script>
        function saveUserConfig() {
            document.getElementById('userConfigSubmitButton').disabled = true;
            var formData = {
                configId: document.getElementById('configId').value,
                url: document.getElementById('url').value,
                apiKey: document.getElementById('apiKey').value,
                secret: document.getElementById('secretKey').value,
                userKey: document.getElementById('userKey').value
            };

            var allFieldsFilled = Object.values(formData).every(function (value) {
                return value.trim() !== '' && !value.includes(' ');
            });
            var urlPattern = /^(https?:\/\/)(.*\.)?gigya\.com(\/.*)?$/;
            if (!urlPattern.test(formData['url'])) {
                document.getElementById('userConfigSubmitButton').disabled = false;
                alert('Invalid URL! Please enter valid request URL.');
            } else if (!allFieldsFilled) {
                document.getElementById('userConfigSubmitButton').disabled = false;
                alert('Please fill in all fields without spaces.');
            } else {
                var settings = {
                    "method": "POST",
                    "url": "{{ configs["app.url"] }}" + "/save-cdc-config",
                    "headers": {
                        "Content-Type": "application/json"
                    },
                    "body": JSON.stringify(formData)
                };
                fetch(settings.url, settings)
                    .then(response => response.json())
                    .then(data => {
                        var responseMessageElement = document.getElementById('responseMessage');
                        responseMessageElement.textContent = data.message;
                        responseMessageElement.style.display = 'block';
                        responseMessageElement.style.color = data.success ? 'green' : 'red';
                    })
                    .catch(error => console.error('Error:', error))
                    .finally(() => {
                        document.getElementById('userConfigSubmitButton').disabled = false;
                    });
            }
        }
    </script>
{% endblock %}
